[Desktop Entry]
Version=1.0
Type=Application
Name=GambasCAD
GenericName=CAD Viewer
Comment=A CAD viewer made in Gambas
TryExec=gambascad
Exec=gambascad %F
Icon=gambascad
Categories=Graphics;Engineering;
MimeType=image/vnd.dxf
Keywords=design;CAD;diagrams;graphics
